*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
    background-color: rgb(56, 55, 55);
}

header{
    padding: 25px;
    position: fixed;
}

header, header nav{ 
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgb(34, 31, 31);
    text-align: center;
}

header a{
    background: rgb(34, 31, 31);
    text-decoration: none;
    padding-left: 30px;
}

.logo{
    font-size: xx-large;
    color: antiquewhite;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}